<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">



</head>
<body>
    <header>
    <nav>
        <a class="link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">ABOBA</a>
        <br>
        <!-- посилання на головну сторінку -->
        <a class="button" href="{%url 'home'%}">home</a>
    </nav>
   </header>
    {% block content %}

    {% endblock %}
</body>
</html>
