body{
    background-color: rgba(162, 80, 238, 0.836);
    font-family: cursive;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
  }

header .link {
    background-color: rgb(255, 255, 255);
    color: rgb(125, 204, 105);
    border: 2px solid #73089ee5;
}

.blog_post{
    border:  1px solid rgba(134, 231, 69, 0.836);
    width: 50%;
    margin-top:20px;
    padding: 10px;
    border-radius: 5%;
    padding-bottom: 20px;
    background-color: #9f76afe5;
}


.data{
    float: right;
    color:rgb(33, 0, 63);
}

.nav-li{
    display: inline-block ;
    margin-left: 5%;
}
.nav-li:first-child{
    margin-left: 0;
}

.content{
    margin: 10px;
    width: 75%;

}
.content h2{
    margin-left: 10%;
    font-size: 40pt;
}
.post_text{
    border-top: 1px dashed  #000000e5;
}

.author{
    color: #32054d;
    float:right;
}
.post_text p{
    font: 10px;
    width: 75%;
    display: inline-block;
}



.logo{
    width: 200px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    position:absolute;
    top:100px;
    left:75%;
}

.post_text img{
    margin-top: 0;
    width:10%;
    position: relative;
    bottom: 50px;
}